---
import BaseHead from '../components/BaseHead.astro';
import Nav from '../components/Nav.astro';
import Main from '../components/Main.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection, getEntry } from 'astro:content';

const post = await getCollection('blog');
---


<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

        <style>
            .post {
                display: flex;
                gap: 30px;
                align-items: center;
            }
            .image {
                height: 50px;
                width: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid black;
            }
            div.post .content {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                gap: 5px;
            }

            div.post .desc {
                font-size: 0.9rem;
            }

            div.post-list {
                display: flex;
                flex-direction: column;
                gap: 30px;
            }

            footer {
                text-align: center;
                padding: 100px;
                padding-bottom: 0px;
            }
        </style>
	</head>

    <body>
        <Nav />
        <Main />

        <h4>Recent Posts</h4>

        <div class="post-list">
        {post.map((post, idx) => {
            return (
            <div class="post">
                <div class="image">WD / {idx}</div>
                <div class="content">
                    <a href={`/post/${post.slug}`}>{post.data.title}</a>
                    <span class="desc">{post.data.onlineDesc}</span>
                </div>
            </div>
        )
        })}
        </div>


    </body>

    <footer>
        Last Updated: 27 / Oct / 2024 | Akash Kandasamy
    </footer>

</html>